@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #0d0113;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #F4E17B;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.linha-horizontal{
    width: 80%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid var(--cor-terciaria);
}

.cabecalho {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 30px;
    padding-right: 10%;
    
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu a {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--cor-terciaria);
}

.apresentacao {
    padding: 2% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 50%;
}

.apresentacao__conteudo__titulo {
    font-family: var(--fonte-primaria);
    font-size: 2rem;
}

.destaque-amarelo {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    font-family: var(--fonte-secundaria);
    font-size: 20px;
}

.apresentacao__links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    justify-content: space-between;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.3rem;
}

.apresentacao__links a {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 200px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    border: 2px solid var(--cor-terciaria);
    color: var(--cor-secundaria);
}

.apresentacao__links a:hover {
    background-color: #f4e27b1c;
}

.apresentacao__imagem {
    align-self: baseline;
    width: 50%;
}

.rodape {
    background-color: var(--cor-terciaria);
    font-size: 1rem;
    color: var(--cor-primaria);
    text-align: center;
    padding: 15px;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
}

/*
@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
        gap: 35px;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 10%;
    }

    .apresentacao__imagem {
        width: 80%;
    }

    .apresentacao__conteudo {
        width: auto;
    }

    .apresentacao__links a {
        padding: 20px;
    }
}
*/